<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'home')}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not Implemented</title>
</head>
<body>
<h2 th:text="'Not yet implemented'">Not Implemented</h2>
<div>
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen frameborder="0" height="315"
            src="https://www.youtube.com/embed/lx8BnMf5Z8o?start=180&end=187" width="560"></iframe>
</div>
</body>
</html>